.footer {
    padding: 27px 0;
    background-color: #3D4050;
}
.footer__general-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    span {
        font-family: 'Lato';
        font-size: 13px;
        color: #FFFFFF;
    } 
}
.footer__copiright {
    position: relative;
    width: 306px;
    &::after {
        content: '';
        background-image: url('../img/Vector-2.webp');
        min-width: 2px;
        min-height: 18px;
        right: -45px;
        top: 1px;
        position: absolute;
    }
}
.footer__payment-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 396px;
    position: relative;
    &::after {
        content: '';
        background-image: url('../img/Vector-2.webp');
        min-width: 2px;
        min-height: 18px;
        right: -42px;
        top: 3px;
        position: absolute;
    }
}
.footer__contacts {
    width: 308px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 27%;
    span {
        padding-top: 3px;
    }
}

.footer__contacts-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    a {
        font-size: 13px;
        text-decoration: none;
        color: #FFFFFF;
    }
    svg {
        margin-right: 11px;
    }
}
.footer__contacts-block {
    &:nth-child(2){
        margin-right: 3px;
    }
}