.section__form{
    margin-bottom: 155px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__form-input {
    min-width: 354px;
    max-width: 367px;
    max-height: 48px;
    padding-left: 10px;
    font-size: 18px;
}
.section__form-container {
  position: relative;
  width: 370px;
} 
.js .section__form-input-trigger {
  display: block;
  padding: 14px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .section__form-input-file{
  position: absolute;
  top: 0; left: 0;
  width: 370px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .isection__form-input-file:hover + .section__form-input-trigger,
.js .isection__form-input-file:focus + .section__form-input-trigger,
.js .section__form-input-trigger:hover,
.js .section__form-input-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "ПРИКРЕПИТЕ ФАЙЛ";
  font-style: normal;
  font-weight: normal;
}

.section__form-upload-block {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 30px;
    margin-bottom: 49px;
}
.section__form-progress {
    position: relative;
    width: 774px;
    margin-right: 27px;
    &::before {
        content: 'Sed ut perspiciatis, unde omnis iste natus';
        position: absolute;
        top: -25px;
        left: 0px;
        font-size: 18px;
        font-family: lato;
    }
}
.section__form-button {
    width: 370px;
    height: 48px;
    align-self: center;
    font-size: 15px;
    text-transform: uppercase;
}




/* Useless styles, just for demo styles */

body {
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  color: #7F8C9A;
  background: #FCFDFD;
}
h1, h2 {
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
  color:#aaa;
}
h2 {
  margin: 5px 0 2em;
  color: #1ABC9C;
}
form {
  width: 225px;
  margin: 0 auto;
  text-align:center;
}
h2 + P {
  text-align: center;
}
.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
  margin-top: 2em;
}
.copy a {
  text-decoration: none;
  color: #1ABC9C;
}  


