.section__form-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 370px;
  height: 48px; 
}
.section__form-select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
}
.section__form-trigger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7px 0px 12px;
  font-size: 16px;
  font-weight: 400;
  color: #121723;
  height: 48px;
  line-height: 16px;
  background: #E6E8EC;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear; 
  transition: color .3s linear; 
  span {
    font-size: 18px;
  }
  &:hover {
    background: #42A9ED;
    color: #FFFFFF;
  }
  &:focus{
    background: #3D4050;
  }
  &:active{
    background: #3D4050;
  }
}
.section__form-custom-options {
position: absolute;
display: block;
top: 100%;
left: -1px;
right: 0;
border-radius: 3px;
border-top: 0;
background: #3D4050;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
opacity: 0;
visibility: hidden;
pointer-events: none;
z-index: 2; 
}
.open__color{
color: #FFFFFF;
background-color: #3d4050;
}
.section__form-select.open {
.section__form-custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all; 
  height: 0px;
}
}

.section__form-custom-option {
position: relative;
display: block;
padding: 12px 12px 12px 12px;
font-size: 16px;
font-weight: 400;
color: #FFFFFF;
line-height: 16px;
cursor: pointer;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 

}

.section__form-custom-option {
&:hover {
  cursor: pointer;
  color: #42A9ED; 
}
}
.section__form-custom-option{
.selected {
  color: #A1A6B4;
}
}

.section__form-arrow {
position: relative;
height: 10px;
width: 18px; 
}

.section__form-arrow {
&::before,&::after{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.10rem;
  height: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
}
}

.section__form-arrow {
&::before{
  left: -2px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #394a6d; 
}
}

.section__form-arrow {
&::after {
  left: 5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #394a6d; 
}
}

.open {
.section__form-arrow {
  &::before {
    left: -2px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); 
  }
}
}

.open {
.section__form-arrow {
  &::after {
    left: 5px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); 
  }
}
}
.section__form-custom-options::-webkit-scrollbar-track{
border: rgb(48, 10, 10);
background-color: #ff6536;
}
.scrollable{
  scrollbar-width: 7px;
  scrollbar-color: #0A4C95 #C2D2E4;
}
#myScrollableDiv {
  width: 369px;
  height: 228px;
  border: none;
  background: #272733;
}
.os-scrollbar {
  background-color: #ffffff;
  border-radius: 4px;
}
.os-scrollbar-handle {
  background-color: red;
}

.scrollbar-track {
  background-color: #e21111;
}
.scrollable{
  overflow: auto;
  width: 100%;
  height: 228px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  &::-webkit-scrollbar {
    width: 7px;
    height: 53px;
  }
  &::-webkit-scrollbar-button {
      display: none;
      background: #ccc
  }
  &::-webkit-scrollbar-track-piece {
      background: #3D4050
  }
  &::-webkit-scrollbar-thumb {
      height: 15px;
      border-radius: 25px;
      background: #3E9CDC;
  }
  select {
    
    width: 100%;
    height: 228px;
    border: none;
    background: #272733;
    &::-webkit-scrollbar {
      width: 7px;
      height: 53px;
    }
    &::-webkit-scrollbar-button {
        display: none;
        background: #ccc
    }
    &::-webkit-scrollbar-track-piece {
        background: #3D4050
    }
    &::-webkit-scrollbar-thumb {
        height: 15px;
        border-radius: 25px;
        background: #3E9CDC;
    }
  }
}
.os-content {
  select {
    appearance: none;
    overflow-y: hidden;
    width: 100%;
    background: #272732;
    border: none;
  }
}
.selected {
background-color: inherit;
}

