$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$breakpoint-laptop: 1200px;
$breackpoint-tablet-large: 990px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 575px;
$breackpoint-mobile-small: 400px;

@media (max-width: $breakpoint-laptop ){
    .container {
        width: 990px;
    }
    .section__list {
        justify-content: center;
        flex-wrap: wrap;
    }
    .section__list-item {
        &:not(:last-child)::after {
           display: none;
        }
        &:not(:last-child) {
            margin-right: 26px;
            margin-bottom: 50px;
        }
    } 
    .section__form-input-group {
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        .section__form-wrapper {
            width: 65%;
            height: 48px;
            margin-bottom: 50px; 
        }
        .section__form-input {
            width: 63.5%;
            height: 48px;
            margin-bottom: 50px;
        }
    }
    .section__form-upload-block {
        flex-direction: column;
        align-items: center;
        margin-bottom: 49px;
        .section__form-progress {
            width: 65%;
            margin-right: 0;
            margin-bottom: 50px;
            &::before {
                top: -40px;
            }
        }
        #myProgress {
            margin-right: 0;
        }
    }
    .footer__general-block{
        align-items: flex-start;
        .footer__copiright{
            width: 18%;
        }
        .footer__contacts {
            width: 27%;
        }
        .footer__payment-icon {
            justify-content: space-between;
            width: 40%;
            .footer__payment {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 27%;
            }
        }
    }  
}
@media (max-width: $breackpoint-tablet-large ){
    .container {
        width: 760px;
    }
    .footer__general-block {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        .footer__copiright {
            width: 41%;
            &::after {
                display: none;
            }
        }
        .footer__payment-icon {
            width: 59%;
            margin-bottom: 20px;
            &::after {
                display: none;
            }
        }
        .footer__contacts {
            width: 38%;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: $breakpoint-tablet ){
    .container {
        width: 575px;
    }
}
@media (max-width: $breakpoint-mobile ){
    .container {
        max-width: 390px;
    }
    .header__nav-icon {
        height: 21px;
        width: 26px;
        top: -8px;
    }
    .header__head {
        margin-bottom: 24px;
        font-size: 32px;
    }
    .header__text {
        font-size: 18px;
    }
    .header__head-list {
        margin-bottom: 20px;
        .header__head-item {
            font-size: 16px;
        }
    }
    .header__button {
        width: 140px;
        font-size: 12px;
    }
    .header__button--order {
        margin-right: 10px;
    }
    .header__logo-link {
        svg {
            width: 150px;
        }
    }
    .section__block-description {
        padding-top: 50px;
        .section__head {
            font-size: 25px;
        }
        .section__description{
            text-align: center;
            font-size: 16px;
        }
    }
    .section__list-item{
        &:not(:last-child) {
            margin-right: 0px;
            margin-bottom: 50px;
        }
    }

    .section__form-progress {
        &::before {
            top: -45px;
            left: 0px;
            font-size: 12px;
        }
    }
    .footer__general-block {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        .footer__copiright {
            width: 79%;
            &::after {
                display: none;
            }
        }
        .footer__payment-icon {
            width: 100%;
            margin-bottom: 20px;
            &::after {
                display: none;
            }
        }
        .footer__contacts {
            width: 75%;
            margin-bottom: 20px;
        }
    }  
        
}
@media (max-width: $breackpoint-mobile-small ){
    .container {
        max-width: 300px;
    }
    .header__nav-icon {
        height: 21px;
        width: 26px;
        top: -8px;
    }
    .mobile.header__nav-list-mobile {
        left: -75px;
    }
  
    .header__head {
        margin-bottom: 24px;
        font-size: 25px;
    }
    .header__text {
        font-size: 16px;
    }
    .header__head-list {
        margin-bottom: 20px;
        .header__head-item {
            font-size: 14px;
        }
    }
    .header__button {
        width: 100px;
        font-size: 10px;
    }
    .header__button--order {
        margin-right: 10px;
    }
    .section__block-description {
        padding-top: 50px;
        .section__head {
            font-size: 20px;
        }
        .section__description{
            text-align: center;
            font-size: 14px;
        }
    }
    .section__list-item{
        &:not(:last-child) {
            margin-right: 0px;
            margin-bottom: 50px;
        }
    }
    .js .section__form-input-trigger svg {
        top: 13px;
        left: 40px;
    }
    .section__form-progress {
        &::before {
            top: -45px;
            left: 0px;
            font-size: 14px;
        }  
    }
    .section__form-container {
        width: 85%;
        .section__form-input-file {
            width: 85%;
        }
    }
    .section__form-progress {
        &::before {
            font-size: 8px;
        }
    }
    .section__form-percent{
        font-size: 12px;
    }
    .section__form-button {
        width: 85%;
        height: 48px;
        align-self: center;
        font-size: 15px;
        text-transform: uppercase;
    }
    .footer__general-block {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        .footer__copiright {
            width: 95%;
            &::after {
                display: none;
            }
            span {
              font-size: 12px;  
            }
        }
        .footer__payment-icon {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            &::after {
                display: none;
            }
            .footer__payment {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 37%;
            }
        }
        .footer__contacts {
            width: 100%;
            margin-bottom: 20px;
        }
    }  
}